*:focus {
  outline: white 3px dotted;
  border: white;
}

button { 
  border: transparent;
  outline: transparent;
}

h1 {
  letter-spacing: -2.5px;
}

h2 {
  letter-spacing: -2px;
}

.heading-text h1 {
  line-height: 1;
}

/* Helper classes */
.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.full-width {
  display: inline-block;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 520px) {
  .margin-left-20-mobile {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {

  h3:not([class*="fontsize-"]),
  .h3:not([class*="fontsize-"]) {
    font-size: 20px;
  }
}

.btn-container .custom-link.with-arrow::after {
  content: "";
  margin-left: 5px;
  margin-bottom: 1px;
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* List */
.like-tag-cloud li {
  border: solid 1px currentColor;
  display: inline-block;
  margin-bottom: 10px;
}

.like-tag-cloud li a {
  padding: 4px 10px;
}

.like-tag-cloud li a:hover,
.style-dark .like-tag-cloud a:not(.btn-text-skin):hover {
  background: white;
  color: #012169 !important;
  text-decoration: none;
}

.style-dark a:not(.btn-text-skin):hover {
  color: currentColor !important;
  text-decoration: underline;
}

/* Footer site-info padding for mobile */
.site-info {
  padding-right: 36px !important;
  padding-left: 36px !important;
}

footer .style-dark a:not(.btn-text-skin):active,
footer .style-dark a:not(.btn-text-skin):focus {
  color: #418fde;
}

/************* Button Element Custom Styles *************/
.btn-container a.custom-link {
  font-family: 'Archer A','Archer B';
}

.btn-container a.like-tag-cloud {
  border: solid 1px currentColor;
}

.fa-angle-right:before {
  vertical-align: bottom;
}

.row div[class*="col-lg-"].align_center>.uncol>.uncoltable>.uncell>.uncont .btn,
.row div[class*="col-lg-"] .row-inner .align_center>.uncol>.uncoltable>.uncell>.uncont .btn,
.row div[class*="col-lg-"].align_center>.uncol>.uncoltable>.uncell>.uncont .btn-link,
.row div[class*="col-lg-"] .row-inner .align_center>.uncol>.uncoltable>.uncell>.uncont .btn-link {
  letter-spacing: 0;
}
/************* End Button Element Custom Styles *************/

/* Homepage "Feature Callout" 2 coll extra padding only on desktop */
@media (min-width: 992px) {
  .main-container .row-container.padding-desktop-only .row-parent {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* End Homepage "Feature Callout */

/* Cottage Cheese page "NEW" image overlay */
.header--new-icon::after {
  content: "";
  background-image: url(../assets/cc-new-label-for-hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 90px;
  position: absolute;
  bottom: 25px;
  right: 0px;
  left: auto;
}
.header--new-icon-spanish::after {
  content: "";
  background-image: url(../assets/new-label-spanish.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 90px;
  position: absolute;
  bottom: 25px;
  right: 0px;
  left: auto;
}
@media (min-width: 768px) {
  .header--new-icon::after,
  .header--new-icon-spanish::after {
    height: 60px;
    width: 142px;
    bottom: 25px;
    right: 0px;
  }
}
@media (min-width: 1200px) {
  .header--new-icon::after,
  .header--new-icon-spanish::after {
    height: 66px;
    width: 160px;
    bottom: 72px;
    transform: translateX(-35%);
    right: 0px;
  }
}
/* Style to make spanish buttons fit with long names */
.no-padding-btns-container .btn-xl {
  padding: 16px 6px !important;
}
/* END Cottage Cheese page */

/* Nutrition facts media */
.nutrition-media .tmb .dummy {
  padding-top: 150% !important;
}

.nutrition-media {
  position: relative;
}

.nutrition-media figcaption {
  position: absolute;
  bottom: 0px;
  right: -33px;
  padding: 32px 12.5px;
  text-align: center;
  width: auto;
  min-width: 65px;
  height: 20px;
  min-height: 65px;
  font-size: 18px;
  background: #012169;
  border-radius: 50%;
  color: white;
  transform: translateX(-50%);
  font-family: 'Archer A','Archer B';
  line-height: inherit;
  font-weight: 600;
  z-index: 9;
}

@media (min-width: 960px) {

  .nutrition-media .uncode-single-media,
  .nutrition-media .uncode_text_column {
    max-width: 340px;
    margin: auto;
  }
}
/* End Nutrition facts media */

/* Featured Recipe Variation Styles (on homepage) */
.featured-recipe-image-stacked .dummy {
  padding-top: 100% !important;
}

.featured-recipe-image-stacked .dummy+img {
  height: 100%;
  width: auto;
}

.featured-recipe-image-stacked img {
  height: 100% !important;
  width: auto !important;
}

.featured-recipe-image-stacked .tmb .t-entry p.t-entry-meta span,
.featured-recipe-image .tmb .t-entry p.t-entry-meta span {
  font-size: 16px;
  font-family: 'Archer A','Archer B';
  border: solid 1px currentColor;
  padding: 0px 10px;
  display: inline-block;
  line-height: 23px;
}

.featured-recipe-image .t-overlay-text.single-block-padding, .featured-recipe-image-stacked .t-overlay-text.single-block-padding {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent);
}

@media (min-width: 960px) {
  .featured-recipe-image-stacked .dummy {
    padding-top: calc(50% - 18px) !important;
  }

  .featured-recipe-image-stacked .dummy+img {
    height: inherit;
    width: 100%;
  }

  .featured-recipe-image-stacked img {
    height: auto !important;
    width: 100% !important;
  }
}
/* End Featured Recipe Variation Styles */

/* Tabs custom style */
.nav-tabs {
  width: auto;
  overflow: auto;
  white-space: nowrap;
}

.nav-tabs li {
  margin-bottom: 0;
}

.nav-tabs>li.active>a {
  border-bottom: solid 3px #418fde !important;
}

.nav-tabs>li>a span {
  color: #418fde;
  font-size: 21px;
  letter-spacing: -0.83px;
}

@media (min-width: 768px) {
  .nav-tabs>li>a span {
    font-size: 28px;
  }
}
/* End Tabs custom style */

/* Accordion Custom Styles */
.panel-title>a span {
  font-size: 20px;
  font-family: 'Archer A','Archer B' !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  letter-spacing: -0.83px !important;
}

@media (min-width: 768px) {
  .panel-title>a span {
    font-size: 28px;
    line-height: 1.14 !important;
    letter-spacing: -1.17px !important;
  }
}
/* End Accordion Custom Styles  */

/* Owl carousel styles */
.owl-dots-inside .owl-dots .owl-dot.active span,
.owl-dots-outside .owl-dots .owl-dot.active span {
  background: #418fde;
}

.owl-dots-inside .owl-dots .owl-dot span,
.owl-dots-outside .owl-dots .owl-dot span {
  background: #bdd6e6;
  box-shadow: none;
}

/* give play buttons on gallery grid icon background circle */
.owl-item i.fa.fa-play.t-overlay-icon {
  padding: 19px 21px;
  background: white;
  color: blue;
  border-radius: 50%;
  height: 62px;
  width: 62px;
}

/* End Owl carousel styles */

/* Custom Navigation Styles */

.menu-light .menu-smart>li.active>a,
.menu-light .menu-smart>li a.active,
.menu-light .menu-smart>li.current-menu-ancestor>a,
.menu-light .menu-smart>li.current-menu-item:not(.menu-item-type-custom)>a {
  color: #418fde;
}

.menu-light .menu-smart>li.active>a::after,
.menu-light .menu-smart>li a.active::after,
.menu-light .menu-smart>li.current-menu-ancestor>a::after,
.menu-light .menu-smart>li.current-menu-item:not(.menu-item-type-custom)>a::after {
  border-bottom: 1.5px solid;
  margin-top: 5px;
  height: auto;
}

body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .menu-horizontal-inner>.nav>.menu-smart>li.active>a,
body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .menu-horizontal-inner>.nav>.menu-smart>li a.active,
body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .menu-horizontal-inner>.nav>.menu-smart>li.current-menu-parent>a,
body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .menu-horizontal-inner>.nav>.menu-smart>li.current-menu-ancestor>a,
body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .menu-horizontal-inner>.nav>.menu-smart>li.current-menu-item:not(.menu-item-type-custom)>a {
  color: #418fde !important;
}

body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:hover, 
body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:focus {
  color: rgba(1,33,105,.5) !important;
}

body:not(.menu-force-opacity) .style-dark-override:not(.is_stuck):not(.is_mobile_open).menu-transparent .wpml-ls-menu-item .wpml-ls-flag {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/wp-content/uploads/flags/language-icon@3x-blue.png) no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  padding-left: 18px;
}

.menu-light .menu-smart a:hover, .menu-light .menu-smart a:focus {
  color: rgba(255,255,255,.5)!important;
}

.wpml-ls-menu-item .wpml-ls-flag {
  width: auto;
  height: 4.5vw;
  vertical-align: middle;
}

@media (min-width: 864px) {
  .wpml-ls-menu-item .wpml-ls-flag {
    width: auto;
    height: 18px;
  }
}

@media (max-width: 959px) {
  #menu-secondary-menu {
    margin-top: 20px;
  }

  body.menu-mobile-centered .menu-smart li:not(.social-icon) .fa.fa-search3 {
    display: inline !important;
    margin-right: 8px;
  }
}

@media (min-width: 960px) {
  .menu-light .menu-smart>li.active>a,
  .menu-light .menu-smart>li a.active,
  .menu-light .menu-smart>li.current-menu-ancestor>a,
  .menu-light .menu-smart>li.current-menu-item:not(.menu-item-type-custom)>a {
    color: #fff;
  }

  .menu-light .wpml-ls-menu-item .wpml-ls-flag {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/wp-content/uploads/flags/language-icon@3x-white.png) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    padding-left: 18px;
  }


  span.wpml-ls-native {
    padding-right: 22px;
    border-right: 1px solid;
  }
}

/* End custom navigation  */

/* Start Recipe Detail Page */

/* Hide carousel toolbar on recipe */
.recipe-template-default .ilightbox-toolbar,
.holiday_recipe-template-default .ilightbox-toolbar {
  display: none !important;
}

.recipe-template-default .menu-container>.row-menu,
.recipe-template-default .menu-wrapper .row-menu .row-menu-inner,
.holiday_recipe-template-default .menu-container>.row-menu,
.holiday_recipe-template-default .menu-wrapper .row-menu .row-menu-inner  {
  height: inherit;
}

.recipe-template-default .menu-wrapper.menu-sticky .menu-container,
.holiday_recipe-template-default .menu-wrapper.menu-sticky .menu-container {
  max-height: 104px;
}

.recipe-detail-wrapper {
  max-width: 1208px;
  margin: auto;
}

.recipe-detail-wrapper .custom-link {
  transform: none !important;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .recipe-detail-wrapper .custom-link {
    transform: none !important;
    width: 100%;
    margin-bottom: 30px;
  }

  .custom-link#shop_now_button {
    margin-right: 30px;
  }
}

.recipe-detail-wrapper .recipe-social-wrapper {
  display: inline-block;
  margin-top: 0px;
}

.recipe-social-wrapper span {
  color: #c8102e;
  background-color: #fff;
  margin-right: 14px;
  line-height: 24px;
}

.recipe-detail-wrapper .recipe-social-wrapper .social-icon i {
  color: #c8102e;
  font-size: 24px;
  margin-right: 4px;
}

.first-recipe-row {
  padding: 36px 36px 36px 36px;
  display: flex;
  flex-direction: column;
}

.recipe-video {
  position: relative;
}

.recipe-video .fa-play:before,
.recipe-video__thumbnail:before {
  content: "\f04b";
  z-index: 100;
  color: #012169;
  background-color: #fff;
  position: absolute;
  pointer-events: none;
  font-size: 27px;
  top: 50%;
  left: 50%;
  padding: 22px 24px;
  height: 62px;
  font-family: "uncodeicon" !important;
  width: 62px;
  transform: translateY(-50%) translateX(-50%);
  line-height: 0.8;
  border-radius: 100%;
  text-align: left;
  display: block;
}

@media (min-width: 768px) {
  .recipe-video a {
    max-height: 629px;
  }
}

@media (min-width: 1100px) {
  .addtest2 .recipe-video:before {
    top: calc(50% - 50px);
    transform: translateY(-50%) translateX(-50%);
  }
}

.recipe-video:hover:before {
  display: none;
}

.recipe-video__thumbnail:hover:before {
  display: block;
}

#customize-thumbnails {
  display: flex;
}

#customize-thumbnails img {
  object-fit: cover;
  height: 100%;
}

#customize-thumbnails li {
  cursor: pointer;
  max-width: calc(33% - 10px);
  margin-right: 20px;
  margin-left: 0px;
}

#customize-thumbnails li:last-of-type {
  margin-right: 0px;
  margin-left: 0px;
}

.first-recipe-row-right .heading-text {
  margin-bottom: 10px;
  color: #012169;
  background-color: #ffffff;
}

.first-recipe-row-right {
  text-align: center;
}

.recipe-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.recipe-detail-wrapper .recipe-tag {
  font-size: 14px;
  padding: 3px 10px;
  background-color: #f3f3f3;
  color: #757575;
  margin-right: 10px;
  margin-bottom: 10px;
}

.recipe-times-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.first-recipe-row-left {
  padding-bottom: 50px;
}

.first-recipe-row .divider-wrapper {
  margin: 30px 0;
  color: #eaeaea;
}

.first-recipe-row div[data-bv-show] {
  text-align: center !important;
}

.recipe-times-container .recipe-times-item {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

.recipe-times-container img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto 15px auto;
}

.recipe-times-headline,
.recipe-times-time {
  margin: 0 auto;
  text-align: center;
}

.recipe-times-headline {
  font-size: 18px;
  font-weight: bold;
}

ol.instruction-list {
  list-style: none;
  counter-reset: item;
  margin-left: 0;
}

ol.instruction-list li {
  counter-increment: item;
  margin-bottom: 20px;
  background-color: #f4f9fc;
  padding: 20px 20px 30px 20px;
}

.ingredient-list li a {
  font-weight: bold;
  text-decoration: underline;
}

ol.instruction-list li:before {
  margin-right: 10px;
  margin-bottom: 15px;
  content: counter(item);
  color: #bdd6e6;
  font-size: 50px;
  line-height: 0.8;
  border-radius: 100%;
  text-align: left;
  display: block;
  min-width: 65px;
}

.ingredients-print {
  display: none;
}

.nutrition-list li {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.nutrition-list {
  max-width: 760px;
  margin: auto;
}

.rp4wp-related-posts {
  padding: 36px 36px 80px 36px;
  max-width: 1212px;
  margin: auto;
}

.rp4wp-related-posts h3 {
  color: #012169;
}

.rp4wp-related-posts img {
  object-fit: cover;
  max-width: none;
  width: 100%;
  height: 100%;
}

.rp4wp-related-posts ul {
  display: flex;
  float: none;
}

.rp4wp-related-posts li {
  width: 33%;
  position: relative;
  border-radius: 0;
  margin: 0 !important;
  border: 0;
}

.rp4wp-related-posts li div.rp4wp_component_image {
  padding-top: 150%;
}

.rp4wp-related-posts .rp4wp_component_image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rp4wp-related-posts .rp4wp_component_image a:after {
  content: "";
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.4;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

.rp4wp-related-posts .rp4wp_component_title {
  font-family: Gotham A, Gotham B;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.33;
  color: white;
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  text-shadow: none;
  background-color: transparent;
}

.rp4wp-related-posts .rp4wp_component_title a {
  color: white;
  display: block;
  padding: 40px 30px;
}

.rp4wp-related-posts li:hover .rp4wp_component_title {
  background-color: transparent;
}

.tns-nav {
  text-align: center;
}

.tns-nav button {
  height: 12px;
  width: 12px;
  margin: 21px 7px;
  padding: 0;
  background-color: #bdd6e6;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: #418fde;
}

@media (min-width: 768px) {
  #customize-thumbnails {
    max-width: 419px;
    margin: 20px auto;
  }

  .first-recipe-row {
    display: flex;
    flex-direction: row;
  }

  .first-recipe-row-left {
    padding: 0 70px 0 0;
  }

  .first-recipe-row-left .tns-outer {
    max-height: 628px;
  }

  .first-recipe-row-left img {
    max-height: 628px;
    margin: 0 auto;
    width: auto !important;
  }

  .first-recipe-row-right {
    text-align: left;
  }

  .first-recipe-row-left,
  .first-recipe-row-right {
    flex: 0 0 50%;
  }

  .first-recipe-row div[data-bv-show] {
    text-align: left !important;
  }

  .recipe-detail-wrapper .custom-link {
    width: auto;
  }

  .recipe-times-container .recipe-times-item {
    flex: 0 0 33.33%;
  }

  .ingredients-direction-wrapper {
    display: flex;
  }

  .ingredients-direction-item {
    flex: 0 0 50%;
  }

  .ingredients-direction-item.left-item {
    padding-right: 105px;
  }

  ol.instruction-list li:before {
    display: inline-block;
    font-size: 70px;
    margin-bottom: 0px;
  }

  ol.instruction-list li {
    display: flex;
  }

  .nutrition-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .rp4wp-related-posts {
    padding: 36px 36px 140px 36px;
    max-width: 1212px;
    margin: auto;
  }
}

@media (min-width: 960px) {
  .recipe-detail-wrapper .recipe-social-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 1038px) {
  .recipe-detail-wrapper .recipe-social-wrapper {
    margin-top: 0px;
  }
}
/* End Recipe Detail Page */

/* Start Holiday Recipe Detail Page */
.btn-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

.btn-group a {
  padding: 16px 0px !important; 
  width: calc(50% - 10px);

}
.btn-group a:last-of-type { 
  width: 100%;
  margin-top: 20px;
}

.save-now-icon:before {
  content: '';
  background: url(../assets/icon-save-now.png) no-repeat;
  padding: 3px 20px;
}

.btn-group a:last-of-type:hover .save-now-icon:before,
.btn-group a:last-of-type:active .save-now-icon:before,
.btn-group a:last-of-type:focus .save-now-icon:before {
  background: url(../assets/icon-save-now--red.png) no-repeat;
  opacity: .6;
}

@media (min-width: 992px) {
  .btn-group a, .btn-group a:last-of-type {
    width: calc(33% - 10px);
    margin-top: 0;
  }
}

/* End Holiday Recipe Detail Page */
/* Start print styles (mainly for recipe pages) */
@page {
  orphans: 4;
  widows: 2;
  margin-top: 1in;
  size: auto !important;
}

@media print {

  html,
  body {
    overflow: auto;
    height: auto;
  }
  html { 
    display: grid;
  }
  body {
    display: inline;
  }

  .box-wrapper {
    overflow: inherit;
  }

  .recipe-detail-wrapper {
    page-break-after: avoid;
  }
  @-moz-document url-prefix() {
    .recipe-detail-wrapper {
      margin-top: 60px;
    }
}
  .vc_row.row-container, .ingredients-direction-wrapper {
    page-break-before: avoid;
    page-break-inside: auto;
  }

  header,
  footer,
  #BVRRContainer,
  #customize-thumbnails,
  div[data-bv-product-id],
  .recipe-tags-wrapper,
  .recipe-detail-wrapper .custom-link,
  .recipe-social-wrapper,
  .nav-tabs,
  .crp_related,
  .crp-wrapper,
  .rp4wp-related-posts,
  .recipe-times-item img,
  .ingredients-direction-item.left-item,
  .recipe-detail-wrapper .divider-wrapper,
  .footer-scroll-top,
  .tips-title,
  .tips-list,
  .nutrition-list,
  .ingredients-print hr {
    display: none !important;
  }

  .main-container .row-inner {
    height: auto;
  }

  .sections-container,
  .page-wrapper,
  .main-container,
  .hmenu .main-wrapper,
  .box-container,
  .box-wrapper,
  .tab-container,
  .uncoltable,
  .main-container .row-inner,
  .row,
  .ingredients-print,
  .ingredients-print .ingredient-list,
  .recipe-times-container,
  .recipe-times-container,
  .ingredients-direction-wrapper,
  ol.instruction-list li {
    display: block !important;
    height: auto;
  }
  .recipe-times-container .recipe-times-item {
    display: inline !important;
  }

  .recipe-times-headline,
  .recipe-times-time {
    display: inline-block;
  }

  .recipe-times-container {
    margin: 15px 0;
  }

  h1 {
    font-size: 26px !important;
  }

  h4 {
    margin-top: 0px !important;
  }

  .first-recipe-row .divider-wrapper {
    margin: 0;
  }

  .first-recipe-row {
    display: block;
    padding-top: 0;
  }

  .recipe-media-wrapper {
    margin-top: 30px;
  }

  .first-recipe-row img { 
    height: 250px;
  }
  .first-recipe-row .dummy { 
    padding-top: 250px !important;
  }

  .first-recipe-row-right {
    text-align: left;
    display: inline-block;
    width: 69%;
    vertical-align: middle;
  }

  .first-recipe-row-left {
    display: inline-block;
    width: 30%;
    padding: 0 70px 0 0;
    vertical-align: middle;
  }
  .recipe-detail-wrapper .row-container .row-inner {
    display: inline !important;
  }
  .recipe-detail-wrapper .row-container .row-parent {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tns-item { 
    height: 300px;
  }
  ol.instruction-list li:before {
    font-size: 25px;
    display: inline;
  }

  ol.instruction-list li {
    padding: 0;
    word-wrap: break-all;
    width: 100%;
  }
  .tab-content { 
    padding: 0px;
  }
  .tab-content>.tab-pane {
    display: block !important;
    opacity: 1;
  }
}
/* End Print Styles */

/* Search results */
.search-results .post-content article+article {
  margin: 0 0 50px 0;
}

.search-results .post-content::after {
  display: none;
}

.search-results .post-content header {
  z-index: 1;
}

.search-results .post-content header .entry-title {
  margin-top: 0;
}

.search-results .post-content .entry-summary {
  z-index: 1;
  word-break: break-word;
}

.search-results article img {
  max-width: 100%;
  width: auto;
  object-fit: cover;
  min-height: 430px;
  height: auto;
}

.page-type-facet-wrapper {
  padding: 0 36px;
}

.page-type-facet-wrapper .facetwp-radio.checked {
  background-image: none;
  margin-bottom: 0;
}

.page-type-facet-wrapper .facetwp-radio {
  background-image: none;
}

.page-type-facet-wrapper .facetwp-facet {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: solid 1px #eaeaea;
}

.page-type-facet-wrapper .facetwp-radio {
  font-size: 20px;
  padding: 10px;
  margin: 5px 5px 2px 5px;
  font-family: 'Archer A','Archer B';
  font-weight: bold;
  color: #418fde;
}

.page-type-facet-wrapper .facetwp-radio.checked {
  border-bottom: 3px solid #418fde;
}

/* remove double padding on search results filter sidebar */
.main-container .row-container .sp-search-sidebar .double-bottom-padding {
  padding-top: 0px;
}

/* Hide sibar when pages selected */
.sp-search-sidebar {
  transition: width 1s;
  opacity: 1;
}

.recipe-filter-wrapper.page-facet-active {
  display: none;
}

.sp-search-sidebar.page-facet-active {
  width: 0px !important;
  opacity: 0;
}

.sp-search-sidebar.page-facet-active+.col-lg-8 {
  width: 100%;
  padding-left: 0px !important;
}

.active-sp-filter:before {
  z-index: 2001;
  background: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  position: fixed;
  top: 0;
  content: "";
}

@media (min-width: 960px) {
  .page-type-facet-wrapper .facetwp-radio {
    font-size: 28px;
    margin: 20px 20px 3px 20px;
  }

  .sp-search-sidebar.page-facet-active+.col-lg-8 {
    padding-left: 36px !important;
  }
}

/* facetwp results */
.widget-container {
  margin: 32px 0 0 0;
}

.widget-container .widget-title {
  font-size: 18px;
  font-family: Gotham A, Gotham B;
  font-weight: bold;
  line-height: 1.78;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.page .fwpl-layout,
.search-results .post-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.facetwp-template .fwpl-layout {
  grid-gap: unset;
}

.fwpl-result,
.search-results .post-content article {
  margin-bottom: 50px;
}

/* Styles for object fit polyfill */

.fwpl-result .compat-object-fit,
.search-results .post-content article .compat-object-fit {
  background-size: cover;
  background-position: center center;
}

.fwpl-result .compat-object-fit img,
.search-results .post-content article .compat-object-fit img,
.rp4wp_component_image.compat-object-fit img {
  opacity: 0;
}

/* End object fit polyfill styles  */

.fwpl-result .wp-post-image,
.search-results article img {
  max-width: 100%;
  width: auto;
  object-fit: cover;
  min-height: 430px;
  height: auto;
}

.fwpl-result .fwpl-item,
.search-results .post-content article h4 {
  margin-top: 15px;
}

.fwpl-result .fwpl-item,
.filter-by-facet {
  font-size: 20px !important;
  font-family: Gotham A, Gotham B;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -1px;
}

.recipe-filter-wrapper .wpb_wrapper {
  display: flex;
  justify-content: space-between;
}

.col-widgets-sidebar .widget-container .widget-title {
  border-bottom: 0;
  border-top: 1px solid #eaeaea;
  padding: 20px 0 0 0;
}

.col-widgets-sidebar.active {
  transform: translateX(-35px);
  z-index: 10000;
}

.col-widgets-sidebar {
  position: fixed;
  width: 300px;
  max-width: 100%;
  top: 0;
  height: 100%;
  z-index: 9;
  background: #fff;
  transition: all 400ms ease-in-out;
  transform: translateX(-130%);
  overflow: scroll;
}

.sidebar-mobile-close {
  position: absolute;
  top: -24px;
  right: 35px;
  padding: 20px;
  font-size: 20px;
  z-index: 10;
  font-weight: bold;
  display: none;
  cursor: pointer;
}

.col-widgets-sidebar.active .sidebar-mobile-close {
  display: block;
}

.col-widgets-sidebar .widget-title,
.col-widgets-sidebar .textwidget {
  padding-left: 30px !important;
}

.filter-by-facet {
  font-size: 20px;
}

#filter-by-mobile {
  padding: 18px 29px;
  background-color: #012169;
  color: white;
  font-family: 'Archer A','Archer B';
}

.facetwp-checkbox {
  margin-bottom: 14px !important;
  background-image: url(../assets/daisy-checkbox.png) !important;
}

.col-widgets-sidebar .facetwp-checkbox.checked {
  background-image: url(../assets/daisy-checkedbox.png) !important;
}

.facetwp-sort-select {
  margin-top: 0;
  height: 55px;
  padding-right: 28px;
}

.facetwp-pager .facetwp-pager-label {
  display: none;
}

.facetwp-pager {
  margin-bottom: 70px;
  text-align: center;
}

.facetwp-pager .facetwp-page.active {
  background-color: #418fde;
  border-radius: 50%;
  color: #fff;
}

.facetwp-pager .facetwp-page {
  color: #012169;
  padding: 8.5px 0px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
}

@media (min-width: 550px) {

  .fwpl-result .wp-post-image,
  .search-results article img {
    min-height: 430px;
  }

  .fwpl-result,
  .search-results article {
    width: calc(50% - 30px);
  }
}

@media (min-width: 960px) {

  body.hmenu-position-center .main-menu-container .navbar-cta.navbar-nav-last,
  body.hmenu-position-center:not(.menu-has-cta) .main-menu-container .navbar-nav-last {
    min-width: 50px;
  }

  .col-widgets-sidebar {
    position: relative;
    width: 35%;
    height: 100%;
    transform: translateX(0);
  }

  .fwpl-result .fwpl-item,
  .filter-by-facet {
    font-size: 24px !important;
  }

  .col-widgets-sidebar {
    position: inherit;
    overflow: auto;
  }

  .col-widgets-sidebar .widget-title,
  .col-widgets-sidebar .textwidget {
    padding-left: 0px !important;
  }

  #filter-by-mobile {
    display: none;
  }

  .recipe-filter-wrapper .wpb_wrapper {
    justify-content: flex-end;
  }

  .facetwp-sort-select {
    margin-top: 70px;
  }
}

@media (min-width: 1200px) {

  .fwpl-result .wp-post-image,
  .search-results article img {
    min-height: 300px;
  }

  .fwpl-result,
  .search-results article {
    width: calc(33%);
    padding: 1em;
  }

  .page .fwpl-layout:after,
  .search-results .post-content:after {
    content: "";
    flex: auto;
    display: block;
  }
}

/* Recipe Landing Styles */
.recipe-header-links {
  max-width: 1040pxpx;
}

/* Remove when no longer 6 col */
.recipe-header-links .wpb_row.row-inner > div:last-of-type {
  display: none;
}

.main-container .recipe-header-links .row-inner > div {
  padding: 0px 0px 0px 33px; 
}

/* End remove when no longer 6 col */

.recipe-header-links .icon-box-left .icon-box-content {
  padding-left: 10px;
  vertical-align: middle;
  text-align: left;
}

@media (max-width: 959px) {
  .recipe-header-links {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 300px;
  }
  .recipe-header-links .single-internal-gutter {
    padding: 10px 0px !important;
  }

  .recipe-header-links h3:after {
    content: "\f105";
    font-family: 'uncodeicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    right: 10px;
  }
}
  

/*  Possible styles for mobile   
    margin-top: -53px !important;
    left: 50%;
    transform: translateX(-50%);
     */

/* End Recipe Lnading Styles */

/* Forms Styles */
form.wpcf7-form {
  max-width: 680px;
  margin: auto;
}

.wpcf7 span.wpcf7-not-valid-tip,
.wpcf7 .wpcf7-validation-errors {
  color: #c8102e !important;
}

form.wpcf7-form label {
  font-family: Gotham A, Gotham B;
  font-size: 18px;
  letter-spacing: -0.75px;
}

form.wpcf7-form label a {
  font-size: 12px;
  text-decoration: underline;
}

form.wpcf7-form input,
form.wpcf7-form select {
  width: 100%;
  min-height: 46px;
}

form.wpcf7-form .full-width input,
form.wpcf7-form .full-width select {
  max-width: none;
}

form.wpcf7-form input.wpcf7-submit {
  width: 100%;
  max-width: none;
  background-color: #c8102e !important;
  color: white;
  min-height: 60px;
  font-family: 'Archer A','Archer B';
  font-weight: bold;
  font-size: 18px;
}

input.wpcf7-submit:hover {
  border: 1px solid #c8102e;
  background-color: white !important;
  color: #c8102e;
}

@media (min-width: 960px) {
  form.wpcf7-form .split {
    display: inline-block;
    width: 50%;
    float: left;
  }

  form.wpcf7-form .split.padding-right {
    padding-right: 20px;
  }

  form.wpcf7-form input,
  form.wpcf7-form select {
    max-width: 332px;
  }
}

/* End form styles */

/* Tooltip styles */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 170px;
  background-color: #012169;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #012169;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

@media(min-width: 576px) {
  [data-tooltip]:after,
  .tooltip:after,
  .tooltip-top:after {
    width: 300px;
  }
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* Start Search Overlay Customization */

.overlay.style-dark-bg {
  background-color: rgba(255, 255, 255, 1) !important;
}

.search-container .search-container-inner .search-field {
  color: #012169;
  background-color: #f4f9fc !important;
  border: none;
  font-family: Gotham A, Gotham B;
  font-size: 20px !important;
  font-weight: 500;
  padding: 34px !important;
}

.search-field::placeholder {
  color: #012169;
}

.search-container i {
  color: #418fde;
}

.mobile-menu-button-dark.menu-close-search .lines:before,
.mobile-menu-button-dark.menu-close-search .lines:after {
  background: #012169;
}

/* End Search Overlay Customization */

/* Start Custom Lightbox Styles */
@media (min-width: 960px) {
  .ilightbox-toolbar.white a.ilightbox-close {
    background: url("../assets/exit-icon@2x.png") no-repeat 0px 6px;
    height: 22px;
    width: 22px;
    padding: 25px;
  }
}

.isMobile .ilightbox-toolbar.white a.ilightbox-close {
  background-image: url("../assets/x-mark-icon-64-daisy-blue.png");
}
.isMobile .ilightbox-toolbar.white a.ilightbox-fullscreen {
  background-image: url("../assets/fullscreen-icon-64-daisy-blue.png");
}

.ilightbox-toolbar.white a.ilightbox-close:hover {
  background-position: -54px 6px;
}

.ilightbox-holder.white .ilightbox-container .ilightbox-social, .ilightbox-button.ilightbox-next-button.white, .ilightbox-button.ilightbox-prev-button.white {
  background-color: #012169;
}

/* Start IE < 8 banner styles */
.ie-banner {
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3600;
  position: fixed;
  background-color: #012169;
  padding: 20px;
}

.ie-banner p {
  margin-top: 0px;
  color: #fff;
  font-weight: bold;
}

.iebutton {
  border: none;
  background-color: #c8102e;
  color: #fff;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Careers carousel quick fix. TODO Remove after lazy load issue is resolved or content changes */
#careers-custom-slider .owl-carousel {
  max-height: 250px;
}

@media (min-width: 500px) {
  #careers-custom-slider .owl-carousel {
    max-height: 350;
  }
  
}

@media (min-width: 760px) {
  #careers-custom-slider .owl-carousel {
    max-height: 450px;
  }
  
}
@media (min-width: 900px) {
  #careers-custom-slider .owl-carousel {
    max-height: 700px;
  }
  
}

/* Our story family image fix. TODO Remove when image is updated */
@media (min-width: 650px) and (max-width: 960px) {
  .our-story-max-width .background-inner {
    max-width: 650px;
    margin: auto;
  }  
}

@media (min-width: 2000px) {
  .our-story-max-width .background-inner {
    max-width: 1250px;
  }
}


/* Facebook Feed Plugin Styles */
#cff.cff-masonry .cff-item,
#cff.cff-masonry.masonry-6-desktop .cff-item {
  display: block;
  margin: 0px !important;
  padding: 0;
}
#cff .cff-html5-video:after {
  border: none;
}
#cff.cff-masonry {
  margin-bottom: 0px;
}
#cff .cff-meta-wrap {
  display: none;
}
@media (min-width: 780px) {
  #cff.cff-masonry.masonry-6-desktop .cff-item {
    display: inline-block;
    width: 16.65%;
  }
}

/* Cookie Banner Styles */
.cookie-banner {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px 20px;
  background-color: #eef4f4;
  z-index: 102;
}
.cookie-banner p {
  font-size: 13px;
}
.cookie-banner__policy-link {
  border-bottom: .5px solid #012169;
}
.cookie-banner__close {
  font-size: 44px;
  border: none;
  color: #012169;
  cursor: pointer;
  line-height: 1;
  font-weight: 300;
  padding: 11px 16px;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
}

.cookie-banner-wrapper .row {
  padding: 0px !important;
}
.cookie-banner-wrapper .wpb_raw_html {
  margin-top: 0px !important; 
}

.cookie-banner__accept {
  border: none;
  background-color: #012169;
  font-family: 'Archer A','Archer B';
  color: #fff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}
.cookie-banner__accept:hover {
  background-color: #fff;
  color: #012169;
}
@media (min-width: 768px) {
  .cookie-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cookie-banner__accept {
    width: auto;
    margin: 0px 100px 0px 37px;
  }
  .cookie-banner__close {
    top: unset;
  }
}
.category-hide-from-search {
  display: none;
}


.basketfull-container {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.basketfull-content {
  position: relative;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 450px;
  width: 100%;
  border: 1px solid #888;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  clear: right;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.basketfull-close {
  position: absolute;
    top: 0;
    color: white;
    right: 24px;
    z-index: 9;
    font-size: 24px;
    cursor: pointer;
    padding: 3%;
    line-height: 1;
}

@media (min-width: 960px) {
  body[class*=hmenu] .menu-icons i:not(.fa-dropdown) {
    font-size: 24px;
  }
}

.recipe-carousel-main-image {
  height: 100%;
  object-fit: cover;
}

.uncode-single-media-wrapper > .recipe-carousel-thumbnail-image {
  width: 100% !important;
}

@media (min-width: 768px) {
  .recipe-carousel-main-image {
    max-width: 418px !important;
    height: 100%;
    object-fit: cover;
  }
}

.btn { 
  outline: transparent;
}

/* Start Homepage and Landing Page Banner Styles*/
.daisy-header-overlay .uncont {
  padding-left: 32px;
  padding-bottom: 32px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent);
}

.daisy-header-overlay .background-wrapper {
  background-color: black;
}

.daisy-header-title .row-container .single-h-padding {
  padding-left: 0;
  padding-right: 0;
}

.daisy-header-title .row div.column_child.align_center > .uncol > .uncoltable > .uncell > .uncont {
  text-align: left;
}

.daisy-header-title .row.single-top-padding.single-bottom-padding.single-h-padding.row-child {
  padding-bottom: 0;
}

.daisy-header-title .row div[class*="col-lg-"].pos-middle .uncell, .daisy-header-title .row div[class*="col-lg-"].pos-middle {
  vertical-align: bottom;
  padding-right: 0;
  display: table-cell;
}

.daisy-header-title .row div[class*="col-lg-"].align_center > .uncol > .uncoltable > .uncell > .uncont {
  text-align: left;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-top: 0px !important;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent);
}

.daisy-header-title .row.limit-width.row-parent.row-header {
  max-width: auto;
  margin: 0;
}

.daisy-header-title .limit-width { 
  max-width: 100%;
  padding: 0 !important;
}

.daisy-header-title .heading-text > h1 > span {
  max-width: 800px;
}

.daisy-text-column > p { 
  background-color: #012169;
}

.daisy-list {
  background-color: #012169;
}

.main-container .daisy-header-title .row.row-parent:not(.no-h-padding) .column_parent > .uncol > .uncoltable > .uncell > .uncont:not(.col-custom-width) {
  padding-left: 14px !important;
}

@media (min-width: 768px) {
  .main-container .daisy-header-title .row.row-parent:not(.no-h-padding) .column_parent > .uncol > .uncoltable > .uncell > .uncont:not(.col-custom-width) {
    padding-left: 32px !important;
  }
}

.daisy-header-title .btn-sp-color-red.btn-icon-right { 
  margin-left: -20px;
  margin-top: -20px;
}

@media (min-width: 576px) {
  .daisy-header-title .btn-sp-color-red.btn-icon-right { 
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* End Homepage and Landing Page Banner Styles*/

/* Footer List Language Icon */
.daisy-lang-list-icon {
  width: 1rem;
  height: auto;
  margin-right: .25rem;
  vertical-align: middle;
  display: inline-flex;
}