
/*
	Copyright (C) 2011-2020 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	271394-137400-20200421
*/

@font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/A0496EA9136C86CE3.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/A0496EA9136C86CE3.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Archer 2r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/A0496EA9136C86CE3.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/A0496EA9136C86CE3.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/28B8E9CDB1D24714B.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/28B8E9CDB1D24714B.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Archer 2i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/28B8E9CDB1D24714B.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/28B8E9CDB1D24714B.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/74DE5EC3E1485088B.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/74DE5EC3E1485088B.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Archer 5r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/74DE5EC3E1485088B.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/74DE5EC3E1485088B.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/0BD8DD6550325CC88.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/0BD8DD6550325CC88.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Archer 5i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/0BD8DD6550325CC88.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/0BD8DD6550325CC88.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F0C8AB47594F11D94.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F0C8AB47594F11D94.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer 8r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F0C8AB47594F11D94.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F0C8AB47594F11D94.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/9474D15829EAA294C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/9474D15829EAA294C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Archer 8i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/9474D15829EAA294C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/9474D15829EAA294C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/48DA996F56DA02D4D.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/48DA996F56DA02D4D.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham 2r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/48DA996F56DA02D4D.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/48DA996F56DA02D4D.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/6C8359CD48301A519.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/6C8359CD48301A519.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham 2i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/6C8359CD48301A519.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/6C8359CD48301A519.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/1EA3162D85B881B8E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/1EA3162D85B881B8E.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham 4r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/1EA3162D85B881B8E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/1EA3162D85B881B8E.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/61E59EDEA03415521.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/61E59EDEA03415521.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham 4i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/61E59EDEA03415521.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/61E59EDEA03415521.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/27D36B9CE7FB40790.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/27D36B9CE7FB40790.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham 7r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/27D36B9CE7FB40790.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/27D36B9CE7FB40790.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/77308484A248926D0.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/77308484A248926D0.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham 7i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/77308484A248926D0.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/77308484A248926D0.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/09AA1C30852052709.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/09AA1C30852052709.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham 8r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/09AA1C30852052709.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/09AA1C30852052709.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/7CB55109049DF3E55.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/7CB55109049DF3E55.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Gotham 8i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/7CB55109049DF3E55.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/7CB55109049DF3E55.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } 