
/*
	Copyright (C) 2011-2020 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	271394-137400-20200421
*/

@font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F48FBE997627CA3AB.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F48FBE997627CA3AB.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Archer 2r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F48FBE997627CA3AB.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F48FBE997627CA3AB.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/19918C0DE5F62E742.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/19918C0DE5F62E742.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Archer 2i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/19918C0DE5F62E742.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/19918C0DE5F62E742.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/3E73B36E6A17CB57C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/3E73B36E6A17CB57C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Archer 5r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/3E73B36E6A17CB57C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/3E73B36E6A17CB57C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D02273FF7F08740A7.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D02273FF7F08740A7.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Archer 5i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D02273FF7F08740A7.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D02273FF7F08740A7.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/69241B79792D9B38E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/69241B79792D9B38E.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer 8r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/69241B79792D9B38E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/69241B79792D9B38E.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/EDBF615580CAC6AE7.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/EDBF615580CAC6AE7.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Archer 8i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/EDBF615580CAC6AE7.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/EDBF615580CAC6AE7.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F7C9A4FBA16011809.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F7C9A4FBA16011809.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham 2r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F7C9A4FBA16011809.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/F7C9A4FBA16011809.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/029A9773EEBBB6E47.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/029A9773EEBBB6E47.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham 2i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/029A9773EEBBB6E47.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/029A9773EEBBB6E47.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/139B0920014D8805C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/139B0920014D8805C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham 4r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/139B0920014D8805C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/139B0920014D8805C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/E60955A119122E9FF.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/E60955A119122E9FF.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham 4i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/E60955A119122E9FF.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/E60955A119122E9FF.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/BCE211453498D9F9C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/BCE211453498D9F9C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham 7r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/BCE211453498D9F9C.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/BCE211453498D9F9C.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/05B890575F31B2F10.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/05B890575F31B2F10.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham 7i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/05B890575F31B2F10.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/05B890575F31B2F10.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D75B977E9A7CCD6D6.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D75B977E9A7CCD6D6.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham 8r"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D75B977E9A7CCD6D6.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/D75B977E9A7CCD6D6.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham A"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/2543F79133475587E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/2543F79133475587E.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Gotham 8i"; src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/2543F79133475587E.eot'); src: url('https://daisybrand.com/wp-content/themes/daisy/css/fonts/777931/2543F79133475587E.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } 